aiofiles
aioshutil
anytree
apscheduler
aria2p
cloudscraper
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
motor
pymongo
pyrofork
qbittorrent-api
requests
telegraph
urllib3
xattr
yt-dlp[default]
